# Basic Statistical Testing

In [28]:
import pandas as pd

df = pd.read_csv('assets/grades.csv')
df.head()

,student_id,assignment1_grade,assignment1_submission,assignment2_grade,assignment2_submission,assignment3_grade,assignment3_submission,assignment4_grade,assignment4_submission,assignment5_grade,assignment5_submission,assignment6_grade,assignment6_submission
0,B73F2C11-70F0-E37D-8B10-1D20AFED50B1,92.733946,2015-11-02 06:55:34.282000000,83.030552,2015-11-09 02:22:58.938000000,67.164441,2015-11-12 08:58:33.998000000,53.011553,2015-11-16 01:21:24.663000000,47.710398,2015-11-20 13:24:59.692000000,38.168318,2015-11-22 18:31:15.934000000
1,98A0FAE0-A19A-13D2-4BB5-CFBFD94031D1,86.790821,2015-11-29 14:57:44.429000000,86.290821,2015-12-06 17:41:18.449000000,69.772657,2015-12-10 08:54:55.904000000,55.098125,2015-12-13 17:32:30.941000000,49.588313,2015-12-19 23:26:39.285000000,44.629482,2015-12-21 17:07:24.275000000
2,D0F62040-CEB0-904C-F563-2F8620916C4E,85.512541,2016-01-09 05:36:02.389000000,85.512541,2016-01-09 06:39:44.416000000,68.410033,2016-01-15 20:22:45.882000000,54.728026,2016-01-11 12:41:50.749000000,49.255224,2016-01-11 17:31:12.489000000,44.329701,2016-01-17 16:24:42.765000000
3,FFDF2B2C-F514-EF7F-6538-A6A53518E9DC,86.030665,2016-04-30 06:50:39.801000000,68.824532,2016-04-30 17:20:38.727000000,61.942079,2016-05-12 07:47:16.326000000,49.553663,2016-05-07 16:09:20.485000000,49.553663,2016-05-24 12:51:18.016000000,44.598297,2016-05-26 08:09:12.058000000
4,5ECBEEB6-F1CE-80AE-3164-E45E99473FB4,64.813800,2015-12-13 17:06:10.750000000,51.491040,2015-12-14 12:25:12.056000000,41.932832,2015-12-29 14:25:22.594000000,36.929549,2015-12-28 01:29:55.901000000,33.236594,2015-12-29 14:46:06.628000000,33.236594,2016-01-05 01:06:59.546000000

In [29]:
print("There are {} rows and {} columns".format(df.shape[0], df.shape[1]))

There are 2315 rows and 13 columns

In [30]:
early_finishers = df[pd.to_datetime(df['assignment1_submission']) < '2016']
early_finishers.head()

,student_id,assignment1_grade,assignment1_submission,assignment2_grade,assignment2_submission,assignment3_grade,assignment3_submission,assignment4_grade,assignment4_submission,assignment5_grade,assignment5_submission,assignment6_grade,assignment6_submission
0,B73F2C11-70F0-E37D-8B10-1D20AFED50B1,92.733946,2015-11-02 06:55:34.282000000,83.030552,2015-11-09 02:22:58.938000000,67.164441,2015-11-12 08:58:33.998000000,53.011553,2015-11-16 01:21:24.663000000,47.710398,2015-11-20 13:24:59.692000000,38.168318,2015-11-22 18:31:15.934000000
1,98A0FAE0-A19A-13D2-4BB5-CFBFD94031D1,86.790821,2015-11-29 14:57:44.429000000,86.290821,2015-12-06 17:41:18.449000000,69.772657,2015-12-10 08:54:55.904000000,55.098125,2015-12-13 17:32:30.941000000,49.588313,2015-12-19 23:26:39.285000000,44.629482,2015-12-21 17:07:24.275000000
4,5ECBEEB6-F1CE-80AE-3164-E45E99473FB4,64.813800,2015-12-13 17:06:10.750000000,51.491040,2015-12-14 12:25:12.056000000,41.932832,2015-12-29 14:25:22.594000000,36.929549,2015-12-28 01:29:55.901000000,33.236594,2015-12-29 14:46:06.628000000,33.236594,2016-01-05 01:06:59.546000000
5,D09000A0-827B-C0FF-3433-BF8FF286E15B,71.647278,2015-12-28 04:35:32.836000000,64.052550,2016-01-03 21:05:38.392000000,64.752550,2016-01-07 08:55:43.692000000,57.467295,2016-01-11 00:45:28.706000000,57.467295,2016-01-11 00:54:13.579000000,57.467295,2016-01-20 19:54:46.166000000
8,C9D51293-BD58-F113-4167-A7C0BAFCB6E5,66.595568,2015-12-25 02:29:28.415000000,52.916454,2015-12-31 01:42:30.046000000,48.344809,2016-01-05 23:34:02.180000000,47.444809,2016-01-02 07:48:42.517000000,37.955847,2016-01-03 21:27:04.266000000,37.955847,2016-01-19 15:24:31.060000000

In [31]:
late_finishers = df[~df.index.isin(early_finishers.index)]
late_finishers.head()

,student_id,assignment1_grade,assignment1_submission,assignment2_grade,assignment2_submission,assignment3_grade,assignment3_submission,assignment4_grade,assignment4_submission,assignment5_grade,assignment5_submission,assignment6_grade,assignment6_submission
2,D0F62040-CEB0-904C-F563-2F8620916C4E,85.512541,2016-01-09 05:36:02.389000000,85.512541,2016-01-09 06:39:44.416000000,68.410033,2016-01-15 20:22:45.882000000,54.728026,2016-01-11 12:41:50.749000000,49.255224,2016-01-11 17:31:12.489000000,44.329701,2016-01-17 16:24:42.765000000
3,FFDF2B2C-F514-EF7F-6538-A6A53518E9DC,86.030665,2016-04-30 06:50:39.801000000,68.824532,2016-04-30 17:20:38.727000000,61.942079,2016-05-12 07:47:16.326000000,49.553663,2016-05-07 16:09:20.485000000,49.553663,2016-05-24 12:51:18.016000000,44.598297,2016-05-26 08:09:12.058000000
6,3217BE3F-E4B0-C3B6-9F64-462456819CE4,87.498744,2016-03-05 11:05:25.408000000,69.998995,2016-03-09 07:29:52.405000000,55.999196,2016-03-16 22:31:24.316000000,50.399276,2016-03-18 07:19:26.032000000,45.359349,2016-03-19 10:35:41.869000000,45.359349,2016-03-23 14:02:00.987000000
7,F1CB5AA1-B3DE-5460-FAFF-BE951FD38B5F,80.576090,2016-01-24 18:24:25.619000000,72.518481,2016-01-27 13:37:12.943000000,65.266633,2016-01-30 14:34:36.581000000,65.266633,2016-02-03 22:08:49.002000000,65.266633,2016-02-16 14:22:23.664000000,65.266633,2016-02-18 08:35:04.796000000
9,E2C617C2-4654-622C-AB50-1550C4BE42A0,59.270882,2016-03-06 12:06:26.185000000,59.270882,2016-03-13 02:07:25.289000000,53.343794,2016-03-17 07:30:09.241000000,53.343794,2016-03-20 21:45:56.229000000,42.675035,2016-03-27 15:55:04.414000000,38.407532,2016-03-30 20:33:13.554000000

In [32]:
print(early_finishers['assignment1_grade'].mean())
print(late_finishers['assignment1_grade'].mean())

74.94728457024304
74.0450648477065

T-test means the populations are not related to one another.
t-statistic and p-value
latter value, probability

In [33]:
from scipy.stats import ttest_ind

ttest_ind(early_finishers['assignment1_grade'], late_finishers['assignment1_grade'])

Ttest_indResult(statistic=1.3223540853721598, pvalue=0.18618101101713855)

the probability is 0.18 > 0.05, means that we cannot reject the null hypothesis. The null hypothesis was the two populations are the same, and we don't have enough certainty in our evidence( because it is greater than alpha) to come to a conclusion to the contrary.
This doesn't meanthat we have proven the populations are the same.

In [34]:
print(ttest_ind(early_finishers['assignment3_grade'], late_finishers['assignment3_grade']))
print(ttest_ind(early_finishers['assignment4_grade'], late_finishers['assignment4_grade']))
print(ttest_ind(early_finishers['assignment5_grade'], late_finishers['assignment5_grade']))

Ttest_indResult(statistic=1.6133726558705392, pvalue=0.10679998102227865)
Ttest_indResult(statistic=0.049671157386456125, pvalue=0.960388729789337)
Ttest_indResult(statistic=-0.05279315545404755, pvalue=0.9579012739746492)

In [41]:
import numpy as np

# import numpy as np
df1 = pd.DataFrame([np.random.random(500) for x in range(500)])
df1.head()

,0,1,2,3,4,5,6,7,8,9,...,490,491,492,493,494,495,496,497,498,499
0,0.813443,0.706234,0.061635,0.033016,0.707098,0.167861,0.714090,0.336882,0.184350,0.574581,...,0.961264,0.164097,0.733061,0.616974,0.372032,0.386219,0.927689,0.641867,0.617709,0.944347
1,0.494210,0.681822,0.636309,0.827219,0.066495,0.225341,0.847308,0.295959,0.699373,0.098040,...,0.660188,0.321353,0.302042,0.389997,0.061263,0.507090,0.802483,0.227667,0.816399,0.000468
2,0.901793,0.237464,0.211244,0.359297,0.948772,0.692298,0.918781,0.668200,0.659879,0.423629,...,0.467962,0.714450,0.714136,0.303523,0.267009,0.009529,0.848248,0.451506,0.268705,0.718519
3,0.002360,0.399929,0.203964,0.412585,0.258534,0.172074,0.025065,0.218191,0.620315,0.883893,...,0.678419,0.223049,0.021170,0.739771,0.428999,0.359221,0.112022,0.694719,0.488931,0.987195
4,0.976144,0.825707,0.819333,0.298440,0.039688,0.526050,0.555245,0.147726,0.428729,0.371594,...,0.994513,0.398199,0.905798,0.448856,0.224050,0.204012,0.543846,0.304018,0.906333,0.781160

In [43]:
df2 = pd.DataFrame([np.random.random(500) for x in range(500)])
df2.head()

,0,1,2,3,4,5,6,7,8,9,...,490,491,492,493,494,495,496,497,498,499
0,0.969541,0.750925,0.800796,0.574347,0.144426,0.142668,0.048089,0.455540,0.469089,0.498004,...,0.424155,0.648944,0.754497,0.729533,0.837447,0.544597,0.212500,0.961095,0.836190,0.892923
1,0.474573,0.260363,0.621660,0.198437,0.704525,0.144222,0.731982,0.207469,0.308655,0.154442,...,0.789510,0.992353,0.486648,0.687863,0.316516,0.844262,0.224506,0.269797,0.969404,0.397055
2,0.751171,0.745649,0.484341,0.162961,0.857695,0.665104,0.099306,0.305432,0.691486,0.214331,...,0.033471,0.188089,0.308570,0.445609,0.485407,0.873249,0.597839,0.885473,0.778095,0.293557
3,0.857963,0.066375,0.052007,0.785406,0.013435,0.451454,0.524386,0.530295,0.191855,0.130431,...,0.904032,0.557934,0.621669,0.136848,0.855737,0.495464,0.192001,0.532219,0.790307,0.341261
4,0.607632,0.498445,0.645630,0.424284,0.330182,0.911996,0.266748,0.131741,0.104096,0.039640,...,0.086062,0.917437,0.297865,0.543055,0.790882,0.247727,0.108148,0.037663,0.821053,0.524809

In [47]:
def test_columns(alpha=0.3):
    num_diff = 0
    for col in df1.columns:
        teststat, pval = ttest_ind(df1[col], df2[col])
        if pval <= alpha:
            print("Col {} is statistically significantly different at alpha={}, pval={}".format(col, alpha, pval))
            num_diff += 1
    print("Total number different was {}, which is {}%".format(num_diff,float(num_diff)/len(df1.columns)*100))

test_columns()

Col 1 is statistically significantly different at alpha=0.3, pval=0.21257427333256526
Col 7 is statistically significantly different at alpha=0.3, pval=0.06389939282173637
Col 8 is statistically significantly different at alpha=0.3, pval=0.046624916719787274
Col 13 is statistically significantly different at alpha=0.3, pval=0.2426883355456559
Col 15 is statistically significantly different at alpha=0.3, pval=0.03901562095589508
Col 20 is statistically significantly different at alpha=0.3, pval=0.2624965861769947
Col 22 is statistically significantly different at alpha=0.3, pval=0.029701462865571012
Col 23 is statistically significantly different at alpha=0.3, pval=0.03234469631659587
Col 25 is statistically significantly different at alpha=0.3, pval=0.056659828724186775
Col 26 is statistically significantly different at alpha=0.3, pval=0.2893657436543706
Col 27 is statistically significantly different at alpha=0.3, pval=0.014095925483237072
Col 35 is statistically significantly different at alpha=0.3, pval=0.014969694204307493
Col 36 is statistically significantly different at alpha=0.3, pval=0.2097410060191717
Col 38 is statistically significantly different at alpha=0.3, pval=0.19348732809015906
Col 40 is statistically significantly different at alpha=0.3, pval=0.19384512868728487
Col 45 is statistically significantly different at alpha=0.3, pval=0.2932876640604215
Col 46 is statistically significantly different at alpha=0.3, pval=0.05381992097410333
Col 50 is statistically significantly different at alpha=0.3, pval=0.09686464968488417
Col 52 is statistically significantly different at alpha=0.3, pval=0.006132812651129683
Col 60 is statistically significantly different at alpha=0.3, pval=0.12876707660570624
Col 61 is statistically significantly different at alpha=0.3, pval=0.007566840812955878
Col 62 is statistically significantly different at alpha=0.3, pval=0.2865341973475945
Col 65 is statistically significantly different at alpha=0.3, pval=0.03606569010638738
Col 66 is statistically significantly different at alpha=0.3, pval=0.11284149030476892
Col 68 is statistically significantly different at alpha=0.3, pval=0.26209226507204825
Col 69 is statistically significantly different at alpha=0.3, pval=0.12831817708196483
Col 75 is statistically significantly different at alpha=0.3, pval=0.13873633212928302
Col 86 is statistically significantly different at alpha=0.3, pval=0.2848618865528598
Col 88 is statistically significantly different at alpha=0.3, pval=0.17434733595891475
Col 91 is statistically significantly different at alpha=0.3, pval=0.05933549109459202
Col 92 is statistically significantly different at alpha=0.3, pval=0.23531640960477332
Col 96 is statistically significantly different at alpha=0.3, pval=0.2271770172031745
Col 97 is statistically significantly different at alpha=0.3, pval=0.16294879759661868
Col 99 is statistically significantly different at alpha=0.3, pval=0.0767976668756969
Col 100 is statistically significantly different at alpha=0.3, pval=0.28018817905863624
Col 110 is statistically significantly different at alpha=0.3, pval=0.26354045534590753
Col 119 is statistically significantly different at alpha=0.3, pval=0.29727246099682947
Col 122 is statistically significantly different at alpha=0.3, pval=0.13941855417702925
Col 127 is statistically significantly different at alpha=0.3, pval=0.254071497809606
Col 129 is statistically significantly different at alpha=0.3, pval=0.24490822584694116
Col 135 is statistically significantly different at alpha=0.3, pval=0.24957832420216391
Col 137 is statistically significantly different at alpha=0.3, pval=0.15339626611296345
Col 140 is statistically significantly different at alpha=0.3, pval=0.2833423914758133
Col 142 is statistically significantly different at alpha=0.3, pval=0.10425386726148506
Col 145 is statistically significantly different at alpha=0.3, pval=0.03927941718800946
Col 147 is statistically significantly different at alpha=0.3, pval=0.06390581366750807
Col 158 is statistically significantly different at alpha=0.3, pval=0.24676728779665352
Col 162 is statistically significantly different at alpha=0.3, pval=0.23111015228953555
Col 164 is statistically significantly different at alpha=0.3, pval=0.2992411452682969
Col 166 is statistically significantly different at alpha=0.3, pval=0.09823634916891204
Col 169 is statistically significantly different at alpha=0.3, pval=0.1393970441794386
Col 170 is statistically significantly different at alpha=0.3, pval=0.20133776714010537
Col 171 is statistically significantly different at alpha=0.3, pval=0.12369968936133034
Col 178 is statistically significantly different at alpha=0.3, pval=0.2477561936358321
Col 179 is statistically significantly different at alpha=0.3, pval=0.07681317905971853
Col 181 is statistically significantly different at alpha=0.3, pval=0.1751515198853037
Col 182 is statistically significantly different at alpha=0.3, pval=0.0034873162273780255
Col 184 is statistically significantly different at alpha=0.3, pval=0.12185338553445851
Col 188 is statistically significantly different at alpha=0.3, pval=0.2723232749880145
Col 189 is statistically significantly different at alpha=0.3, pval=0.12675974405811705
Col 205 is statistically significantly different at alpha=0.3, pval=0.08173487815189533
Col 207 is statistically significantly different at alpha=0.3, pval=0.22133697246204806
Col 210 is statistically significantly different at alpha=0.3, pval=0.04275118075503676
Col 212 is statistically significantly different at alpha=0.3, pval=0.08026330163415786
Col 214 is statistically significantly different at alpha=0.3, pval=0.2781578042050958
Col 216 is statistically significantly different at alpha=0.3, pval=0.0317138501911099
Col 218 is statistically significantly different at alpha=0.3, pval=0.11735705878654844
Col 220 is statistically significantly different at alpha=0.3, pval=0.286154515012033
Col 227 is statistically significantly different at alpha=0.3, pval=0.2771216926446505
Col 228 is statistically significantly different at alpha=0.3, pval=0.1959551923144871
Col 229 is statistically significantly different at alpha=0.3, pval=0.2886861326511618
Col 233 is statistically significantly different at alpha=0.3, pval=0.04268822697672754
Col 239 is statistically significantly different at alpha=0.3, pval=0.18823673007076747
Col 240 is statistically significantly different at alpha=0.3, pval=0.1554836240473873
Col 241 is statistically significantly different at alpha=0.3, pval=0.09065020644203726
Col 247 is statistically significantly different at alpha=0.3, pval=0.12034340895084698
Col 252 is statistically significantly different at alpha=0.3, pval=0.2922209061238551
Col 255 is statistically significantly different at alpha=0.3, pval=0.0780377561163582
Col 257 is statistically significantly different at alpha=0.3, pval=0.2490130787778438
Col 258 is statistically significantly different at alpha=0.3, pval=0.033381359432534834
Col 259 is statistically significantly different at alpha=0.3, pval=0.03813892192056907
Col 262 is statistically significantly different at alpha=0.3, pval=0.16990185250861384
Col 265 is statistically significantly different at alpha=0.3, pval=0.1504170648287757
Col 266 is statistically significantly different at alpha=0.3, pval=0.2994892291818393
Col 269 is statistically significantly different at alpha=0.3, pval=0.1964977441114124
Col 272 is statistically significantly different at alpha=0.3, pval=0.05829733195244879
Col 275 is statistically significantly different at alpha=0.3, pval=0.07258266615770419
Col 279 is statistically significantly different at alpha=0.3, pval=0.24275549236488414
Col 283 is statistically significantly different at alpha=0.3, pval=0.0515134801929909
Col 286 is statistically significantly different at alpha=0.3, pval=0.2836835511189224
Col 289 is statistically significantly different at alpha=0.3, pval=0.24928291667008812
Col 295 is statistically significantly different at alpha=0.3, pval=0.29101913810664903
Col 298 is statistically significantly different at alpha=0.3, pval=0.10802082312496808
Col 301 is statistically significantly different at alpha=0.3, pval=0.2713477948278021
Col 304 is statistically significantly different at alpha=0.3, pval=0.21679067318156728
Col 318 is statistically significantly different at alpha=0.3, pval=0.2004023139030063
Col 319 is statistically significantly different at alpha=0.3, pval=0.24622974668063183
Col 323 is statistically significantly different at alpha=0.3, pval=0.26040223715227584
Col 325 is statistically significantly different at alpha=0.3, pval=0.2594029959251116
Col 327 is statistically significantly different at alpha=0.3, pval=0.035253651767362344
Col 328 is statistically significantly different at alpha=0.3, pval=0.20780821211097789
Col 334 is statistically significantly different at alpha=0.3, pval=0.25995095654386485
Col 335 is statistically significantly different at alpha=0.3, pval=0.2706598607170037
Col 336 is statistically significantly different at alpha=0.3, pval=0.09625550098030658
Col 338 is statistically significantly different at alpha=0.3, pval=0.1038063929101992
Col 343 is statistically significantly different at alpha=0.3, pval=0.05655591063369159
Col 351 is statistically significantly different at alpha=0.3, pval=0.0107048824757174
Col 354 is statistically significantly different at alpha=0.3, pval=0.08626298615409961
Col 355 is statistically significantly different at alpha=0.3, pval=0.1762741021922311
Col 356 is statistically significantly different at alpha=0.3, pval=0.20928695169185849
Col 370 is statistically significantly different at alpha=0.3, pval=0.13188640761861412
Col 374 is statistically significantly different at alpha=0.3, pval=0.12242010456915964
Col 375 is statistically significantly different at alpha=0.3, pval=0.10632265855300549
Col 381 is statistically significantly different at alpha=0.3, pval=0.2690560464740841
Col 382 is statistically significantly different at alpha=0.3, pval=0.23272718442297435
Col 386 is statistically significantly different at alpha=0.3, pval=0.18013025250768794
Col 387 is statistically significantly different at alpha=0.3, pval=0.27038642072458813
Col 389 is statistically significantly different at alpha=0.3, pval=0.15759035545820407
Col 391 is statistically significantly different at alpha=0.3, pval=0.2745334721663802
Col 400 is statistically significantly different at alpha=0.3, pval=0.29217496799457665
Col 403 is statistically significantly different at alpha=0.3, pval=0.25115392109501067
Col 404 is statistically significantly different at alpha=0.3, pval=0.16101032473293295
Col 405 is statistically significantly different at alpha=0.3, pval=0.07174349969626771
Col 412 is statistically significantly different at alpha=0.3, pval=0.0594978863531132
Col 419 is statistically significantly different at alpha=0.3, pval=0.2567252106378456
Col 429 is statistically significantly different at alpha=0.3, pval=0.09206120919792768
Col 435 is statistically significantly different at alpha=0.3, pval=0.28353717004230233
Col 440 is statistically significantly different at alpha=0.3, pval=0.15187842012788721
Col 448 is statistically significantly different at alpha=0.3, pval=0.0051152521042988845
Col 451 is statistically significantly different at alpha=0.3, pval=0.24830599835492576
Col 456 is statistically significantly different at alpha=0.3, pval=0.10304874883557948
Col 457 is statistically significantly different at alpha=0.3, pval=0.12433135509105439
Col 458 is statistically significantly different at alpha=0.3, pval=0.05110202784371553
Col 460 is statistically significantly different at alpha=0.3, pval=0.2481998055039967
Col 462 is statistically significantly different at alpha=0.3, pval=0.2516874591779024
Col 463 is statistically significantly different at alpha=0.3, pval=0.008627585671060534
Col 466 is statistically significantly different at alpha=0.3, pval=0.11520076592111246
Col 468 is statistically significantly different at alpha=0.3, pval=0.06654800820777648
Col 473 is statistically significantly different at alpha=0.3, pval=0.012027523110336094
Col 474 is statistically significantly different at alpha=0.3, pval=0.11405385133295098
Col 476 is statistically significantly different at alpha=0.3, pval=0.21200708502614782
Col 478 is statistically significantly different at alpha=0.3, pval=0.1375034936325603
Col 480 is statistically significantly different at alpha=0.3, pval=0.1615855644495433
Col 481 is statistically significantly different at alpha=0.3, pval=0.08798066477085204
Col 487 is statistically significantly different at alpha=0.3, pval=0.001390946022911067
Col 494 is statistically significantly different at alpha=0.3, pval=0.1878629678281049
Col 495 is statistically significantly different at alpha=0.3, pval=0.15887430914993186
Col 499 is statistically significantly different at alpha=0.3, pval=0.21644832792012786
Total number different was 148, which is 29.599999999999998%