In [3]:
import pandas as pd
import numpy as np

# DateTime Functionality

In [5]:
pd.Timestamp('13/9/2022 7:25PM')

Timestamp('2022-09-13 19:25:00')

In [9]:
pd.Timestamp(2022,9,13,0,0)

Timestamp('2022-09-13 00:00:00')

In [11]:
pd.Timestamp(2022,9,13,0,0).isoweekday()

2

In [12]:
pd.Timestamp(2022,9,13)

Timestamp('2022-09-13 00:00:00')

In [13]:
pd.Timestamp(2022,9,13).second

0

In [14]:
pd.Period('1/2016')

Period('2016-01', 'M')

In [15]:
pd.Period('2015')

Period('2015', 'A-DEC')

In [16]:
pd.Period('2022')

Period('2022', 'A-DEC')

In [18]:
pd.Period('2022')-3

Period('2019', 'A-DEC')

In [22]:
t1 = pd.Series(list('123'), [pd.Timestamp('2022-09-13'), pd.Timestamp('2022-09-14'), pd.Timestamp('2022-09-12')])
t1

2022-09-13    1
2022-09-14    2
2022-09-12    3
dtype: object

In [23]:
type(t1.index)

pandas.core.indexes.datetimes.DatetimeIndex

In [24]:
t1 = pd.Series( [pd.Timestamp('2022-09-13'), pd.Timestamp('2022-09-14'), pd.Timestamp('2022-09-12')],list('123'))
t1

1   2022-09-13
2   2022-09-14
3   2022-09-12
dtype: datetime64[ns]

In [25]:
d1 = ['2 June 2013', 'Aug 29, 2014', '2015-06-26', '7/12/16']

ts3 = pd.DataFrame(np.random.randint(10, 100, (4,2)), index = d1, columns = list('ab'))
ts3

               a   b
2 June 2013   13  94
Aug 29, 2014  67  52
2015-06-26    72  54
7/12/16       23  88

In [27]:
ts3.index = pd.to_datetime(ts3.index)
ts3

             a   b
2013-06-02  13  94
2014-08-29  67  52
2015-06-26  72  54
2016-07-12  23  88

In [29]:
pd.to_datetime('14.9.2022', dayfirst = True)

Timestamp('2022-09-14 00:00:00')

In [32]:
pd.to_datetime('14.9.2022')

Timestamp('2022-09-14 00:00:00')

In [34]:
pd.to_datetime('10.9.2022', dayfirst = False)

Timestamp('2022-10-09 00:00:00')

In [35]:
pd.Timestamp('9/3/2022') - pd.Timestamp('9/1/2022')

Timedelta('2 days 00:00:00')

In [36]:
pd.Timestamp('8/8/2022 8:10AM') + pd.Timedelta('12D 11H')

Timestamp('2022-08-20 19:10:00')

In [37]:
pd.Timestamp('14/9/2022') + pd.offsets.Week()

Timestamp('2022-09-21 00:00:00')

In [38]:
pd.Timestamp('14/9/2022') + pd.offsets.MonthEnd()

Timestamp('2022-09-30 00:00:00')

In [40]:
dates = pd.date_range('9-1-2022', periods = 9, freq = '2W-SUN')
dates

DatetimeIndex(['2022-09-04', '2022-09-18', '2022-10-02', '2022-10-16',
               '2022-10-30', '2022-11-13', '2022-11-27', '2022-12-11',
               '2022-12-25'],
              dtype='datetime64[ns]', freq='2W-SUN')

In [41]:
df = pd.DataFrame({'Count 1' : 100 + np.random.randint(-5, 10, 9).cumsum(),
                   'Count 2' : 120 + np.random.randint(-5, 10, 9)},
                   index = dates)
df

            Count 1  Count 2
2022-09-04      105      127
2022-09-18      114      115
2022-10-02      109      115
2022-10-16      109      120
2022-10-30      117      121
2022-11-13      125      127
2022-11-27      123      125
2022-12-11      129      121
2022-12-25      138      117

In [50]:
df.index.weekday

Int64Index([6, 6, 6, 6, 6, 6, 6, 6, 6], dtype='int64')

In [51]:
df[2022-11:]

Empty DataFrame
Columns: [Count 1, Count 2]
Index: []

In [52]:
df['2022-11':]

            Count 1  Count 2
2022-11-13      125      127
2022-11-27      123      125
2022-12-11      129      121
2022-12-25      138      117

# Group By

In [ ]:
%%timeit -n 3

#iterative version
for state in df['STNAME'].unique():
    avg = np.average(df.where(df['STNAME'] == state).dropna()['CENSUS2010POP'])
    
    print('Counties in state ' + state + ' have an average population of ' + str(avg))